certifi==2024.12.14
charset-normalizer==3.4.1
icalendar==6.1.0
idna==3.10
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
tzdata==2024.2
urllib3==2.3.0
schedule==1.2.1

# webpush
pywebpush==2.0.3
Flask==3.1.0
Flask-Cors==5.0.0
SQLAlchemy==2.0.38
py-vapid==1.9.0
gunicorn==21.2.0
sentry-sdk[flask]==2.26.1
